@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to "MMA Tracker"</h1>
    <p>Your #1 site for tracking MMA events</p>

    <div class="btn-group mt-4" role="group">
        <!-- Button for All Fights -->
        <a asp-controller="Fights" asp-action="Index" class="btn btn-primary btn-lg">
            All Fights
        </a>

        <!-- Button for Upcoming Fights -->
        <a asp-controller="Fights" asp-action="Upcoming" class="btn btn-success btn-lg">
            Upcoming Fights
        </a>

        <!-- Button for Archived Fights -->
        <a asp-controller="Fights" asp-action="Archived" class="btn btn-info btn-lg">
            Archived Fights
        </a>
    </div>
</div>
