@{
    ViewData["Title"] = "Privacy Policy Cat";
}
<h1>@ViewData["Title"]</h1>

<p>This is the guy responsible for the privacy policy managment:</p>

<img src="https://i.pinimg.com/474x/0a/06/43/0a0643d1ea440009507d87b73c3cf8cf.jpg" alt="Privacy Policy Image" />
